doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='icon' href='favicon.ico')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#000000')
    meta(name='description' content='How the movie recommendation system works')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    link(href=' http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
    link(rel='stylesheet' href='stylesheets/header.css')
    link(rel='stylesheet' href='stylesheets/howitworks.css')
    title Movie Recommendation Engine
  body
    include ../public/header.html
    include ../public/howitworks.html
    script(src="/javascript/header.js")